.timer-row{
    height:40px;   
}

.timer-settings{
    margin-bottom: 30px;
}

.timer-settings input[type=text] {
    width: 40px;
    height: 35px;
    font: bold 20px Helvetica, sans-serif;
    padding: 3px 0 0 0;
   
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-round{
    border-radius: 50%;
    font-size: 14px
}
#timer{
 
 margin-bottom: 20px;   
}

#timer-row input[type=text]{
width: 200px;
    height: 100px;
    font: bold 60px Helvetica, sans-serif;
    padding: 3px 0 0 0;
    border:none;
}

body{
    /*text-align: center;*/
}
[type=text]{
    text-align: center;
}
.progress-bar{
    height:50px;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}
 .progress{
   width:500px;
 }
  


#controls{
    margin-bottom:20px;
}
